<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/styles-checkbox.css" %}">
    </head>
    <body>
        <form id="trash-create-form" action="{% url "trashes:edit" trash.id %}" method="post">
            {% csrf_token %}
            <h2>Edit trash</h2>
            <div class="form-group">
                <label for="trash-name">Name:</label>
                <input name="name" type="text" class="form-control" id="trash-name" aria-describedby="emailHelp" value="{{ trash.name }}">
                {% if 'name' in errors %}
                    {{ errors.name }}
                {% endif %}
            </div>
            <div class="form-group choose-create-div-container">
                <div class="choose-create-div-text">
                    <b class="choose-create-text">
                        Restore policy:
                    </b>
                </div>
                <div class="dropdown">
                  <button id="trash-restore-policy" name="restore_policy" value="{{ trash.restore_policy }}" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{ selected_restore_policy }}
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <li><a href="#" class="choose-restore-policy" value="None">None</a></li>
                      <li><a href="#" class="choose-restore-policy" value="name">By Name</a></li>
                      <li><a href="#" class="choose-restore-policy" value="size">By Size</a></li>
                      <li><a href="#" class="choose-restore-policy" value="last_modified">By Last Modified</a></li>
                  </ul>
                  <input id="trash-restore-policy-input" type="hidden" name="restore_policy" value=None>
                </div>
            </div>
            <div class="form-group choose-create-div-container">
                <div class="choose-create-div-text">
                    <b class="choose-create-text">
                        Autoclean policy:
                    </b>
                </div>
                <div class="dropdown">
                  <button id="trash-autoclean-policy" name="autoclean_policy" value="{{ trash.autoclean_policy }}" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{ selected_autoclean_policy }}
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <li><a href="#" class="choose-autoclean-policy" value="None">None</a></li>
                      <li><a href="#" class="choose-autoclean-policy" value="size">By Size</a></li>
                      <li><a href="#" class="choose-autoclean-policy" value="last_modified">By Last Modified</a></li>
                  </ul>
                  <input id="trash-autoclean-policy-input" type="hidden" name="autoclean_policy" value=None>
                </div>
            </div>
            <div class="form-group">
                <label for="trash-keep-alive-time">Live time:</label>
                <input name="keep_alive_time" type="text" class="form-control" id="trash-keep-alive-time" value="{{ trash.keep_alive_time }}">
                {% if 'keep_alive_time' in errors %}
                    {{ errors.keep_alive_time }}
                {% endif %}
                <small  class="form-text text-muted">0 - infinity time.</small>
            </div>
            <div class="form-group">
                <label for="trash-keep-alive-size">Live size:</label>
                <input name="keep_alive_size" type="text" class="form-control" id="trash-keep-alive-size" value="{{ trash.keep_alive_size }}">
                {% if 'keep_alive_size' in errors %}
                    {{ errors.keep_alive_size }}
                {% endif %}
                <small class="form-text text-muted">0 - infinity size.</small>
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-default"><a href="{% url 'host:files' '' %}">Back</a></button>
        </form>
        <script src={% static "js/jquery-3.2.1.js" %}></script>
        <script src={% static "js/bootstrap.js" %}></script>
        <script src={% static "js/script.js" %}></script>
    </body>
</html>