{% extends "base.html" %}
{% load static from staticfiles %}

{% block source_block %}
    <div>
        <b class="trash-name">Jobs</b>
    </div>

    <table class="table trash-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Action</th>
          <th>Progress</th>
          <th>Processed Bytes</th>
          <th>Total Bytes</th>
          <th>Result</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for job in jobs %}
        <tr>
            <td>#{{ job.id }}</td>
            <td>{{ job.name }}</td>
            <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ job.progress_percent }}%"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{ job.progress_percent }}%">
                    {{ job.progress_percent }}%
                  </div>
                </div>
            </td>
            <td>{{ job.bytes_processed }}</td>
            <td>{{ job.total_bytes }}</td>
            <td>
                {% if job.result %}
                    <a href="{{ job.result.url }}" download="{{ job.result.name }}">
                        <button type="button" class="btn btn-default">
                            <img src="{% static "img/download.png" %}" class="log-download-img">
                        </button>
                    </a>
                {% else %}
                    <button type="button" class="btn btn-default disabled">
                        <img src="{% static "img/download.png" %}" class="log-download-img">
                    </button>
                {% endif %}
            </td>
            <td>
                <form action="{% url 'trashes:jobs-delete' job.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default">
                        <img src="{% static "img/destroy.png" %}" class="log-delete-img">
                    </button>
                </form>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock source_block %}