{% extends "base.html" %}
{% load static from staticfiles %}

{% block source_block %}
    <div>
        <b class="trash-name">{{ trash.name }}</b>
    </div>
    <!--<div>-->
        <!--<div class="progress trash-progress">-->
          <!--<div class="progress-bar" role="progressbar" aria-valuenow="{{ available_space_percent }}"-->
          <!--aria-valuemin="0" aria-valuemax="100" style="width:{{available_space_percent}}%">-->
            <!--{{available_space_percent}}%-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="container-fluid trash-info" style="display: flex;">-->
            <!--<div class="col-md-3">-->
                <!--<b>Used: {{ used }} GB</b>-->
            <!--</div>-->
            <!--<div class="col-md-9">-->
                <!--<b>Free: {{ free }} GB</b>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div>-->
        <!--{% for part in partition_paths %}-->
            <!--<a class="trash-link" href="{% url 'host:paths' part.link %}">{{ part.name }}</a>-->
            <!--<span> / </span>-->
        <!--{% endfor %}-->
    <!--</div>-->
    <form class="trash-files-form" method="post">
        {% csrf_token %}
        <input type="hidden" id="trash-id" value="{{ trash.id }}">

        <div class="control-panel">
            <div class="checkbox select-all-trash-files-container">
                <input id="select-all-trash-files" type="checkbox" name="force">
                <label id="select-all-trash-files-label" for="select-all-trash-files">Select all</label>
            </div>
            <div class="trash-delete-button-div">
                <button type="submit" class="btn btn-default trash-delete-button">Delete selected</button>
            </div>
            <div class="trash-restore-button-div">
                <button type="submit" class="btn btn-default trash-restore-button">Restore selected</button>
            </div>
        </div>
        <table class="table trash-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Origin Path</th>
              <th>Size</th>
              <th>Last Modified</th>
            </tr>
          </thead>
          <tbody>
          {% for file in files %}
            <tr>
                <td>
                    <div class="trash-name-column">
                        <div class="checkbox">
                            <input id={{ forloop.counter }} type="checkbox" class="trash-files-checkbox" name="paths" value="{{ file.trash_path }}">
                            <label for={{ forloop.counter }}></label>
                        </div>
                        <div>
                            {% if file.is_dir %}
                                <img src="{% static "img/folder.png" %}" class="trash-folder-img">
                                <span>{{ file.name }}</span>
                            {% else %}
                                <img src="{% static "img/file.png" %}" class="trash-file-img">
                                <span>{{ file.name }}</span>
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td>{{ file.origin_path }}</td>
                <td>{{ file.size }}</td>
                <td>{{ file.timestamp }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div id="delete-trash-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Do you want to delete this files?</h4>
                    </div>
                    <div class="modal-body">
                        <div style="margin-bottom: 20px">
                            <p>Location:</p>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle trash-delete-modal-selected" type="button" data-toggle="dropdown">Choose one of this trash
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    {% for trash in trashes %}
                                        <li><a href="#" class="trash-delete-modal-select" value="{{ trash.id }}">{{ trash.name }}</a></li>
                                    {% endfor %}
                                </ul>
                                <input type="hidden" class="selected-trash-id" name="trash_id">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary delete-host-files disabled">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock source_block %}