.menu {
	padding-top: 35px;
}

.menu-item {
	text-align: center;
	padding: 5px;
}

.menu-text {
	font-size: 17px;
}

.trash-name {
	font-size: 17px;
}

.host-progress {
	width: 70%;
}

.trash-table {
	padding-top: 15px;
}

.trash-source {
	margin-top: 35px;
}

.trash-folder-img {
	width: 38px;
}

.trash-file-img {
	width: 38px;
}

.trash-computer-img {
	width: 22px;
}

.trash-img {
	width: 22px;
	height: 22px;
}

.trash-plus-img {
	width: 56px;
	height: 56pxl
}

.trash-job-img {
	width: 52px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.trash-info {
    display: flex;
    margin-bottom: 20px;
}

.trash-delete-button-div, .host-delete-button-div {
    float: right;
}

.trash-restore-button-div {
    float: right;
    padding-right: 8px;
}

.trash-name-column {
    display: flex;
}

.action-buttons {
    position: fixed;
	top: 92%;
	right: 4%;
	display: flex;
}

.trash-job-img-container {
    padding-right: 3px;
}

.log-download-img, .log-delete-img {
    width: 17px;
}

#trash-create-form {
    margin: auto;
    width: 500px;
}

.choose-create-div-container {
    display: flex;
}

.choose-create-div-text {
    dislay: inline-block;
    padding-right: 20px;
}

.choose-create-text {
    vertical-align: -webkit-baseline-middle;
}

.errorlist {
    color: red;
}

.trash-action {
    display: inline-table;
}

.select-all-delete-container {
    display: inline-block;
}

.select-all-trash-files-container {
    display: inline-block;
}